@font-face {
  src: url(Hartical.ttf);
  font-family: Hartical;
}
@font-face {
  src: url(Neue.otf);
  font-family: Neue;
}
@font-face {
  src: url(Arsenica.ttf);
  font-family: Arsenica;
}
@font-face {
  src: url(Catchy.ttf);
  font-family: Catchy;
}
@font-face {
  src: url(GODOFWAR.TTF);
  font-family: Gow;
}

.header {
  min-height: 100vh;
  width: 100%;
  position: relative;
  /* background: linear-gradient(#000000a9,#000000d2); */
  background: rgba(0, 0, 0, 0.77);
}

.bg {
  z-index: -2;
}

.logo {
  position: absolute;
  width: auto;
  height: 13vh;
  margin: 9px 2% 0 0%;
}

.center {
  display: flex;
  justify-content: center;
  /* align-items: flex-start; */
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  /* color: #FFFD47; */
  color: #E9AA30;
  /* padding-left: 5vw; */
  font-family: Hartical;
}

.center h1 {
  font-size: 50px;
  font-family:Gow;
  margin-bottom: 10px;
}

.center h1 .navno{
  font-family: Neue;
}
.center q {
  font-size: 18px;
  font-family: Neue;
}

.centerSpan{
  font-size: 25px;
  /* padding-left: 70px; */
  padding-bottom: 3vh;
}

.center button {
  margin: 25px 0 0 10px;
  /* background-color: #FFFD47; */
  background-color: #E9AA30;

  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-family: Arsenica;
  font-size: 20px;
  color: #000;
  cursor: pointer;
}

.center button a {
  text-decoration: none;
  color: #000;
}

.center button:hover{
  background-color: #000;
  border: 2px solid #E9AA30;
  color: #E9AA30;
}

.center button a:hover {
  text-decoration: none;
  color: #E9AA30;
  background-color: #000;
}

@media (min-width: 550px) {
  .center {
    align-items: center;
  }
  .center h1 {
    font-size: 65px;
  }
  .logo {
    height: 15vh;
  }
}


.navc {
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 10;
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.navca {
  display: flex;
  flex-direction: column;
}

.navca a {
  color: #E9AA30;
  padding: 25px 0;
  font-size: 30px;
  /* text-decoration: none; */
  /* font-family: Arsenica; */
  font-family: Neue;
}

.navb {
  cursor: pointer;
  position: absolute;
  color: #E9AA30;
  background-color: transparent;
  font-size: 5vh;
  right: 13px;
  top: 24px;
}

.footer {
  min-height: 100vh;
  width: 100%;
  position: relative;
  background: rgba(0, 0, 0, 0.813);
}

.ftimg {
  z-index: -2;
}

.ft {
  position: absolute;
  bottom: 1px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  background-color: #000;
  color: #E9AA30;
  font-family: Neue;
  padding: 15px 0;
  z-index: 2;
}

.ft a {
  color: #E9AA30;
  text-decoration: underline;
}

.tag span {
  padding: 0 13px;
}

.ftc {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding-left: 20px;
}

.ftc1 h1 {
  color: #E9AA30;
  font-size: 50px;
  padding: 8px 0;
  font-family: Gow;
}

.ftc1 h1 .navno{
  font-family: Neue;
}

.ftc2 h2 {
  color:#E9AA30;
  padding: 8px 0;
  font-size: 20px;
  font-family: Neue;
}

.ftsoc {
  margin-left: 18px;
  display: flex;
  flex-direction: column;
}

.ftsoc a {
  padding: 3px 0;
  color: #E9AA30;
  font-family: Neue;
}

.ftsoc span {
  padding: 0 0 0 15px;
}

@media (min-width: 650px) {
  .ftc {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 75%;
    margin: auto;
    padding-left: 0;
  }
  .ftc1 {
    text-align: left;
    width: 40%;
    padding-bottom: 13vh;
  }
  .ftc1 h1 {
    font-size: 75px;
  }
  .ftc2 {
    padding-right: 10%;
  }
}


.Events{
  width: 100%;
  height: auto;
  background-color: black;
  display: flex;
  justify-content: center;
  padding-top: 12vh;
  flex-direction: column;
}


.Events h1{
  font-size: 50px;
  font-family:Arsenica;
  margin-bottom: 10px;
  text-align: center;
  color: #E9AA30;

}


.body1 {
  width: 100%;
  height: auto;
}

.body1_text {
  width: 90%;
  margin: 3vh auto;
}

.EventButton{
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 0 30px;
}

.EventButton a{
  padding: 20px;
  background-color: #000000;
  color: #E9AA30;
  border-radius: 5vh;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-family: Neue;
  font-size: 20px;
  /* color: #000; */
  border: 2px solid #E9AA30;
  cursor: pointer;
  text-decoration: none;
}

.body1_text h1 {
  font-family: Arsenica;
  font-size: 40px;
  color: #E9AA30;
  text-align: center;
  margin-bottom: 20px;
}

.body1_text p {
  font-family: Catchy;
  font-size: 20px;
  color: #E9AA30;
  text-align: center;
  margin-bottom: 20px;
}

.body1_image {
  position: relative;
  /* height: 40vh;
  width: 75%; */
  margin: 3vh auto;
}

@media (min-width: 1230px) {
  .body1 {
    width: 75%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .body1 h1{
  font-size: 55px;

  }
  .body1 p{
  font-size: 35px;

  }
  .body1:nth-child(1) {
    margin-top: 40px;
  }
  .body1:nth-child(even) {
    flex-direction: row;
  }
  .body1:nth-child(odd) {
    flex-direction: row-reverse;
  }
  .body1:nth-child(even) .body1_text {
    width: 40%;
    /* padding-right: 35px; */
  }
  .body1:nth-child(odd) .body1_text {
    width: 40%;
    /* padding-left: 35px; */
  }
  .body1_image {
    /* width: 40%;
    height: 60vh; */
    width: 60%;
    height: 80vh;
  }
}

.whatsapp{
  color: #59CE72;
}